
@import url('https://fonts.cdnfonts.com/css/myriad-pro');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-base-color: #f1f1f1;
    scrollbar-face-color: #888;
    scrollbar-track-color: #f1f1f1;
    background-color: #FFFFFF; /* Color de fondo general */
}

header {
    background-color: #0056b3;
    color: white;
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap; /* Permite que el contenido se ajuste en múltiples líneas si es necesario */
}

nav {
    width: 100%; /* Asegura que el nav ocupe el ancho completo del header */
    max-width: 1200px; /* Máximo ancho para el nav */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; /* Asegura que el ul ocupe el ancho completo del nav */
}

nav ul li {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

nav ul li img {
    height: 60px;
    margin: 0 1rem;
}

.a-consultar {
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 35px;
    color: black;
}

.a-consultar:hover {
    border-color: #ffc107;
    background-color: #ffc107;
}

nav a {
    color: white;
    padding: 1rem 6rem;
    text-decoration: none;
    font-family: 'Myriad Pro', Light;
    font-size: 1.4vw;
    transition: color 0.3s;
    width: 100%;
}

nav a:hover {
    cursor: pointer;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13.8vw;
    align-items: center;
    padding: 2rem 5%;
    background: url('assets/Pagina_principal/Fondo.png') no-repeat center center;
    background-size: cover;
    color: #000000;
    height: 100%;
    position: relative;
    justify-content: center;
}

.main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-text, .form-container {
    z-index: 2;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text h1 {
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Myriad Pro', Light;
    font-weight: 300;
}

.main-text p {
    font-size: 1.2vw;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Myriad Pro', Light;
    font-weight: 100;
}

.main-text button {
    background-color: #157FFB;
    color: #fff;
    border: none;
    border-radius: 35px;
    padding: 1vw 2vw;
    cursor: pointer;
    font-size: 1vw;
    transition: background-color 0.3s;
}

.main-text button:hover {
    background-color: #ffc107;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 1.2rem;
    border-radius: 10px;
    max-width: 32.917vw; /* Ancho máximo relativo */
    margin: 0 auto; /* Centrado horizontal */
    height: 74vh; /* Altura relativa del viewport */
    overflow-y: auto;
    font-family: 'Myriad Pro';
}

.form-container::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.form-container::-webkit-scrollbar-thumb {
    background: #888; /* Color del "thumb" */
    border-radius: 10px; /* Radio del borde */
}

.form-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

.form-container {
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Color del thumb y track */
}

.form-container h2 {
    color: #000000;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.form-container p {
    text-align: center;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: #333;
}

form input, form select {
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}

form button {
    background-color: #157FFB;
    color: #fff;
    border: none;
    border-radius: 35px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-top: 0.2rem; 
    margin-bottom: 0;
    align-self: center; 
}

.segundo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.texto2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3vw;
    font-family: 'Myriad Pro', Light;
    font-weight: 200;
}

.texto3 {
    text-align: center;
    font-size: 1.50vw;
    line-height: 150%;
    margin-left: 15vh;
    margin-top: 2vh;
    font-family: 'Myriad Pro', Light;
    font-weight: 200;
}

.globo {
    grid-column: 2 / span 3;
    width: 48vw;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    margin-top: 5vh;
    margin-left: 50vw;
    position: absolute;
}

.etapas h2 {
    text-align: center;
    font-size: 2.865vw;
    margin: 0;
    font-family: 'Myriad Pro', Light;
    font-weight: 200;
}

.etapas-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.etapa h3 {
    font-size: 2.344vw;
    text-align: center;
    margin-top: 1.4rem;
    font-family: 'Myriad Pro', Regular;
    font-weight: 200;
}

.etapa p {
    color: #000000;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 2.604vw;
    font-weight: 600;
    text-align: center;
    font-family: 'Myriad Pro', Regular;
    font-weight: 400;
}

.bancos h3 {
    text-align: center;
    font-size: 2.865vw;
    font-family: 'Myriad Pro', Light;
    font-weight: 200;
}

.bancos {
    max-width: 80%; 
    margin: 0 auto; 
    text-align: center; 
}

.grid-bancos-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem; 
    justify-content: center; 
}

.img-bancos1 {
    width: 20.781vw;
    max-width: 100%; 
    height: 18.889vh;
}

.img-bancos2 {
    width: 25.365vw;
    max-width: 100%; 
    height:

 18.889vh;
}

.img-bancos3 {
    width: 27.292vw;
    max-width: 100%; 
    height: 18.889vh;
}

.grid-bancos-2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.802vw; 
    justify-content: center; 
    align-self: center;
}

.img-bancos4 {
    width: 12.658vw;
    height: 4.351vw;
    align-self: center;
}

.img-bancos5 {
    width: 15.573vw;
    height: 11.042vw;
}

.botonEntrega {
    margin-top: 1.5rem;
    width: 10.729vw;
    margin-bottom: 2.5rem;
}

.faq h2 {
    text-align: center;
    font-family: 'Myriad Pro', Regular;
    font-weight: 200;
    font-size: 2.865vw;
}

.pregunta {
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Myriad Pro', Regular;
}
.pregunta h3 {
    font-size: 2rem;
    margin-bottom: 0;
}
.pregunta span {
    background-color: #157FFB;
    padding: 10px 15px;
    border-radius: 100%;
    color: #FFFFFF;
    font-size: 1.5625rem;
    font-family: 'Myriad Pro', Light;
}

.pregunta p {
    font-family: 'Myriad Pro', Light;
    font-size: 1.8rem;
    font-weight: 200;
}

.texto4 {
    font-size: 2.604vw;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Myriad Pro', Regular;
}
.mas-preguntas {
    background-color: #168BF2;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
    border-radius: 3.073vw;
    }
    .mas-preguntas h3 {
    font-size: 2.865vw;
    font-family: 'Myriad Pro';
    font-weight: bold;
    
    }
    .mas-preguntas p {
    margin-bottom: 1rem;
    font-size: 2.083vw;
    font-family: 'Myriad Pro', Light;
    font-weight: 100;
    }
    .mas-preguntas button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 25px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
    }
    .mas-preguntas button
    {
    background-color: #ffffff;
    }
    footer {
        background-color: #3B67BF;
        color: #FFFFFF;
    }
    
    .contenido-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .localidad {
        text-align: center;
        justify-content: center;
        align-content: center;
        margin: 0;
    }
    
    .localidad img {
        margin: 0;
        padding: 0;
        filter: invert(100%);
        filter: invert(100%) brightness(100%);
    }
    
    .contacto-gov {
        text-align: center;
        justify-content: center;
        align-content: center;
        margin: 0;
    }
    
    .contacto-gov img {
        margin: 0;
        padding: 0;
        filter: invert(100%);
        filter: invert(100%) brightness(100%);
    }
/* Media query para resolución específica (420px x 932px) */
@media (max-width: 430px) and (max-height: 932px) {
    
    header {
        width: 100%;
        height: auto;  /* Ajuste del padding */
        position: static;
    }

    nav {
        flex-direction: column; /* Disposición en columna para el nav */
        align-items: center; /* Centrar los elementos del nav */
    }

    nav ul {
        flex-direction: column; /* Disposición en columna para el ul */
        align-items: center; /* Centrar los elementos del ul */
    }

    nav ul li img {
        height: 40px; /* Ajustar el tamaño de las imágenes */
        margin: 0.5rem 0; /* Ajustar el margen */
    }

    nav a {
        padding: 0.5rem 1rem; /* Ajustar el padding de los enlaces */
        font-size: 1rem; /* Ajustar el tamaño de la fuente */
    }

    .a-consultar {
        padding: 10px 20px; /* Ajustar el padding del botón */
    }

    .main {
        grid-template-columns: 1fr; /* Una sola columna para la disposición principal */
        padding: 1rem;
        gap: 1rem; /* Ajustar el espacio entre elementos */
        background-size: cover;
    }

    .main-text {
        align-items: center; /* Centrar el texto principal */
    }

    .main-text h1 {
        font-size: 2rem; /* Ajustar el tamaño de la fuente */
    }

    .main-text p {
        font-size: 1rem; /* Ajustar el tamaño de la fuente */
    }

    .form-container {
        max-width: 100%; /* Ancho completo para el contenedor del formulario */
        height: auto; /* Ajuste automático de la altura */
    }
    .texto2 span {
        font-size: 1.5rem;
    }
    .segundo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .texto3 {
            margin-left: 0;
            font-size: 1rem;
        }
    }

    .globo {
        opacity: 0.1;
    }

    .etapas-container {
        grid-template-columns: 1fr; /* Una sola columna para la sección de etapas */
    }
    .etapas h2{
        font-size: 1.5rem;
    }
    .etapa h3, .etapa p {
        font-size: 1.5rem; /* Ajustar el tamaño de la fuente */
    }
    .boton-etapa {
        width: 40%;
    }
    .bancos {
        max-width: 80%; /* Ancho completo para la sección de bancos */
    }
    .bancos h3 {
        font-size:1.5rem ;
    }
    .grid-bancos-1 {
        grid-template-columns: 1fr 1fr 1fr ; /* Una sola columna para la sección de bancos */
    }
    .grid-bancos-2 {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-self: center;
    }
    
    .img-bancos1, .img-bancos2, .img-bancos3 {
        width: 80%; /* Ajustar el ancho de las imágenes */
        height: auto; /* Ajuste automático de la altura */
    }
    .img-bancos4, .img-bancos5 {
        width: 50%; /* Ajustar el ancho de las imágenes */
        height: auto; /* Ajuste automático de la altura */
    }

    .botonEntrega {
        width: 50%; /* Ajustar el ancho del botón de entrega */
        margin: 1rem auto; /* Centrar el botón y ajustar el margen */
    }
    .pregunta h3 {
        font-size: 1.2rem;
        text-align: center;
    }
    .pregunta p {
        font-size: 1rem;
    }
    footer {
        height: 80vh;
    }
    
    .contenido-footer {
        display: flex;
        flex-direction: column;
        margin: 10vh 0;
        font-size: 1rem;
    }
    .localidad img {
        margin-bottom: 0;
    }
    .logo-gov {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
    }
    
    .logo-gov img {
        width: 200px;
    }
    
}